<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wmsmp.mapper.InventoryMapper">

    <resultMap id="BaseResultMap" type="com.example.wmsmp.entity.Inventory">
        <id property="inventory_id" column="inventory_id" jdbcType="OTHER"/>
        <result property="pallet_code" column="pallet_code" jdbcType="VARCHAR"/>
        <result property="cell_id" column="cell_id" jdbcType="OTHER"/>
        <result property="location_code" column="location_code" jdbcType="VARCHAR"/>
        <result property="material_code" column="material_code" jdbcType="VARCHAR"/>
        <result property="material_name" column="material_name" jdbcType="VARCHAR"/>
        <result property="batch" column="batch" jdbcType="VARCHAR"/>
        <result property="inventory_count" column="inventory_count" jdbcType="OTHER"/>
        <result property="frozen_count" column="frozen_count" jdbcType="OTHER"/>
        <result property="out_order_id" column="out_order_id" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="udf01" column="udf01" jdbcType="VARCHAR"/>
        <result property="udf02" column="udf02" jdbcType="VARCHAR"/>
        <result property="udf03" column="udf03" jdbcType="VARCHAR"/>
        <result property="udf04" column="udf04" jdbcType="VARCHAR"/>
        <result property="udf05" column="udf05" jdbcType="VARCHAR"/>
        <result property="creator" column="creator" jdbcType="VARCHAR"/>
        <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updater" column="updater" jdbcType="VARCHAR"/>
        <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        inventory_id,pallet_code,cell_id,
        location_code,material_code,material_name,
        batch,inventory_count,frozen_count,
        out_order_id,status,remark,
        udf01,udf02,udf03,
        udf04,udf05,creator,
        create_time,updater,update_time
    </sql>
</mapper>
