<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wmsmp.mapper.OutOrderDetailMapper">

    <resultMap id="BaseResultMap" type="com.example.wmsmp.entity.OutOrderDetail">
        <id property="out_order_detail_id" column="out_order_detail_id" jdbcType="OTHER"/>
        <result property="out_order_id" column="out_order_id" jdbcType="VARCHAR"/>
        <result property="material_code" column="material_code" jdbcType="VARCHAR"/>
        <result property="material_name" column="material_name" jdbcType="VARCHAR"/>
        <result property="batch" column="batch" jdbcType="VARCHAR"/>
        <result property="order_count" column="order_count" jdbcType="OTHER"/>
        <result property="actual_count" column="actual_count" jdbcType="OTHER"/>
        <result property="pick_count" column="pick_count" jdbcType="OTHER"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="udf01" column="udf01" jdbcType="VARCHAR"/>
        <result property="udf02" column="udf02" jdbcType="VARCHAR"/>
        <result property="udf03" column="udf03" jdbcType="VARCHAR"/>
        <result property="udf04" column="udf04" jdbcType="VARCHAR"/>
        <result property="udf05" column="udf05" jdbcType="VARCHAR"/>
        <result property="creator" column="creator" jdbcType="VARCHAR"/>
        <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updater" column="updater" jdbcType="VARCHAR"/>
        <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="zhiliangdengji" column="zhiliangdengji" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        out_order_detail_id,out_order_id,material_code,
        material_name,batch,order_count,
        actual_count,pick_count,status,
        udf01,udf02,udf03,
        udf04,udf05,creator,
        create_time,updater,update_time,
        zhiliangdengji
    </sql>

</mapper>
