<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wmsmp.mapper.SysDictionaryMapper">

    <resultMap id="BaseResultMap" type="com.example.wmsmp.entity.system.SysDictionary">
            <id property="dic_id" column="dic_id" jdbcType="OTHER"/>
            <result property="dic_name" column="dic_name" jdbcType="VARCHAR"/>
            <result property="dic_type" column="dic_type" jdbcType="VARCHAR"/>
            <result property="dic_display_value" column="dic_display_value" jdbcType="VARCHAR"/>
            <result property="dic_display_name" column="dic_display_name" jdbcType="VARCHAR"/>
            <result property="dic_value" column="dic_value" jdbcType="OTHER"/>
            <result property="status" column="status" jdbcType="OTHER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="udf01" column="udf01" jdbcType="VARCHAR"/>
            <result property="udf02" column="udf02" jdbcType="VARCHAR"/>
            <result property="udf03" column="udf03" jdbcType="VARCHAR"/>
            <result property="udf04" column="udf04" jdbcType="VARCHAR"/>
            <result property="udf05" column="udf05" jdbcType="VARCHAR"/>
            <result property="creator" column="creator" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updater" column="updater" jdbcType="VARCHAR"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        dic_id,dic_name,dic_type,
        dic_display_value,dic_value,status,dic_display_name,
        remark,udf01,udf02,
        udf03,udf04,udf05,
        creator,create_time,updater,
        update_time
    </sql>
</mapper>
